body{
    background-color: rgb(229, 255, 247);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
}

#ruta1 {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 255, 34, 0.6);
    width: 350px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

#profilRuta {
    background-color: rgba(0, 255, 34, 0.6);
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    text-align: center;
}

button {
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

.hyrd {
    background-color: red;
    color: white;
}
