body{
    background-color: rgb(229, 255, 247);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#ruta1 {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 255, 34, 0.616);
    width: 350px;
    height: 250px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 4px;
}